

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
}

.ratings-list {
    width: 200px;
    margin-right: 20px;
}

.ratings-list ul {
    list-style-type: none;
    padding: 0;
}

.ratings-list li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.main-content {
    flex: 1;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input {
    padding: 10px;
    font-size: 1em;
    flex: 1;
    margin-right: 10px;
}

form button {
    padding: 10px;
    font-size: 1em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #0056b3;
}

.movie-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.movie {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 8px;
}

.movie img {
    max-width: 100%;
    border-radius: 8px;
}

.movie h3 {
    margin: 10px 0 5px;
}

.movie p {
    margin: 0;
}
